.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.image-container {
  width: 50%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #C59FC9; */

  background: #a4def9;
}

.login-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cccccc;
  background: #cebae1;
}

.login-form {
  width: 300px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.login-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: #97f9f9;
  color: #000000;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.login-form button:hover {
  background-color: #cebae1;
  border: 0.5px solid rgb(247, 247, 247);
  color: #ffffff;
}

.error-container {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }
  .login-container {
    border-right: none;
    border-bottom: 1px solid #cccccc;
    width: 100%;
  }
  .image-container {
    width: 100%;
  }
}
