.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.image-container {
  width: 50%;
  height: 90vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cccccc;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  width: 300px;
}

.login-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.login-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.login-form button:hover {
  background-color: #0069d9;
}

.error-container {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }
  .login-container {
    border-right: none;
    border-bottom: 1px solid #cccccc;
    width: 100%;
  }
}
